{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<style>
  a {
  color: #551E89;
  }

  a:active {
     color: #884dc0;
}
</style>

<body class="body_out">

<div class="back">
    <a href="{% url 'home' %}" class="back_b"><h1 style="color: black"> <span>⮪</span> {% trans "Back" %}</h1></a>
</div>

<h4 align="center" style="background: #97939C; border-radius: 8px;"><i>{% trans "You are logged in as" %}&thinsp;</i> <span style="font-weight: 900;">{{ user.username }}</span></h4>

<h1 align="center"></h1>

<p style="background: #97939C; border-radius: 8px;">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="baton" type="submit" style="position: relative; left: 50%; transform: translate(-50%, 0);"><h2 style="font-weight: 200;" class="text_b">{% trans 'Sign Out' %}</h2></button>
</form>

</body>

{% endblock %}
