{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<body class="body-pass">
<div class="reI">
<div class="reII">

<div class="brother">


    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
  <p><h1 align="center">{% trans "Password Reset" %}<br>{% blocktrans %}We have sent you an e-mail.{% endblocktrans %}</h1>

</div>

</div>
</div>
</body>

<style>
    .brother {

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(109, 110, 117, 0.3);
    height: 600px;
    width: 500px;
    border-radius: 65px;
}
</style>

{% endblock %}
