{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

<div class="back">
    <a href="{% url 'home' %}" class="back_b"><h1 style="color: black"> <span>⮪</span> {% trans "Back" %}</h1></a>
</div>

<body bgcolor="#d5d5d5">
    <h1 align="center">{% trans "Verify Your E-mail Address" %}</h1>

    <img class="email_img_conf" src="{% static 'IMG/mail.png' %}" style="position: absolute; left: 50%; transform: translate(-50%, 0); bottom: 50px;" height="300px" width="300px">
</body>

<style>
    @media screen and (max-width: 278px){
        .email_img_conf {
            width: 240px;
            height: 240px;
        }
    }
</style>
{% endblock %}
