{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<body bgcolor="#d5d5d5">
    <h1 align="center">{% trans "Verify Your E-mail Address" %}</h1>

    <p align="center">{% blocktrans %}We have sent an e-mail to you for verification.{% endblocktrans %}</p>

    <img src="{% static 'IMG/mail.png' %}" style="position: absolute; left: 50%; transform: translate(-50%, 0); bottom: 50px;" height="300px" width="300px">
</body>
{% endblock %}
