.body_out {
    position: absolute;
    margin: 0px;
    height: 100%;
    width:  100%;
    background-image: url("../IMG/backround_aut.png ") ;
     background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
	background-blend-mode: multiply;
	background-color: #a1a2a5;
}

.baton {

  background: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 15px;

  width: 200px;
  height: 80px;
  cursor: pointer;
}