.body-pass {
    position: absolute;
    margin: 0px;
    min-height: 100%;
    min-width:  100%;
    background-image: url("../IMG/key.png");
    background-size: cover;
     display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
	background-blend-mode: multiply;
	background-color: #a1a2a5;
}

.reI {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(100, 57, 120, 0.3);
    height: 625px;
    width: 525px;
    border-radius: 65px;
}

.reII{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(56, 57, 58, 0.3);
    height: 650px;
    width: 550px;
    border-radius: 65px;
}

.mather {
    position: relative;
    background: rgba(109, 110, 117, 0.3);
    height: 600px;
    width: 500px;
    border-radius: 65px;
}

#id_email {
    margin-top: 30px;
}

.input-pass {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    background: #6c5178;
    border: none;
    border-radius: 15px;
    margin-left: 30px;
    width: 200px !important;
    height: 50px;
    cursor: pointer;
    color: #331c2a;
}