.body-pass {
    position: absolute;
    margin: 0px;
    min-height: 100%;
    min-width:  100%;
    background-image: url("../IMG/key.png");
    background-size: cover;
     display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
	background-blend-mode: multiply;
	background-color: #a1a2a5;
}

.reI {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(100, 57, 120, 0.3);
    height: 625px;
    width: 525px;
    border-radius: 65px;
}

.reII{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(56, 57, 58, 0.3);
    height: 650px;
    width: 550px;
    border-radius: 65px;
}

.mather {
    position: relative;
    background: rgba(109, 110, 117, 0.3);
    height: 600px;
    width: 500px;
    border-radius: 65px;
}

#id_email {
    margin-top: 30px;
}

.input-pass {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    background: #6c5178;
    border: none;
    border-radius: 15px;
    width: 200px !important;
    height: 50px;
    cursor: pointer;
    color: #331c2a;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (max-height: 800px) {
.reI {
    margin-top: 80px;

}
}

@media screen and (max-height: 700px) {
.reI {
    margin-top: 120px;
}
}

@media screen and (max-height: 650px) {
.reI {
    margin-top: 170px;
}
}

@media screen and (max-height: 605px) {
.reI {
    margin-top: 250px;
}
}

@media screen and (max-height: 525px) {
.reI {
    margin-top: 300px;
}
}

@media screen and (max-height: 525px) {
.reI {
    margin-top: 300px;
}
}

@media screen and (max-height: 475px) {
.reI {
    margin-top: 400px;
}
}

@media screen and (max-height: 380px) {
.reI {
    margin-top: 500px;
}
}

@media screen and (max-width: 570px){

.info_sing_r {
    left: -40px;
}

.info_sing_l {
    right: -40px;
}

.reI {
    margin-top: 80px;
    width: 425px;
}

.reII {
    width: 450px;
}

.mather {
    width: 400px;
}

}

@media screen and (max-width: 460px){
.reI {
    margin-top: 80px;
    width: 375px;
}

.reII {
    width: 400px;
}

.mather {
    width: 350px;
}
}

@media screen and (max-width: 410px){
.reI {
    margin-top: 80px;
    width: 325px;
}

.reII {
    width: 350px;
}

.mather {
    width: 300px;
}
}

@media screen and (max-width: 360px){

.reI {
    margin-top: 80px;
    width: 250px;
}

.reII {
    width: 275px;
}

.mather {
    width: 225px;
}
}