

.div {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.avatar {
    width: 800px;
    height: 600px;
    background-color: black;
    border-radius: 50px;

}

p {
    text-align: center;
}

ul{
    font-size:0;
    text-align: center;
    padding-inline-start: 0px;

}
ul li{
    display: inline-block;
    font-size:14px;
    display:inline-block;
    margin-right: 30px;
    padding:0;
    font-size: 12pt;
}

#id_choice{
    margin-left: 40px;
}

label {
    font-size: 12pt;
    font-weight: 600;
}

.choose {
    border-radius: 5px;
    background: white;
    border: none;
    height: 25px;
}

.upload {
    border-radius: 5px;
    background: white;
    border: none;
    height: 25px;
}

@media screen and (max-width: 360px){
.avatar {
    height: 700px;
}

.choose {
width: 230px;

font-size: 9pt;
}
}