.div_del {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.delete {
    width: 800px;
    height: 600px;
    background-color: black;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: white;
}

.choice_delete {
    margin-top: 150px;
    border-radius: 20px;
    font-size: 12pt;
    border: none;
    width: 200px;
    height: 80px;
    cursor: pointer;
    margin-left: 30px;
}

