{% load static %}



<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'CSS/battle.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/black.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/white.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/purple.css' %}">
<!--    <link rel="stylesheet" href="{% static 'CSS/profile-dark.css' %}">-->
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
<!--    <script src="https://codepen.io/steveg3003/pen/zBVakw"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>-->
    <title>Color battle</title>

</head>

<body>

    {% block home %}



    {% endblock %}
</body>

</html>