html *
{
   font-family: Montserrat !important;
}

.body {
    background-image: url("../IMG/b2.png");
    background-size: 100% 100%;

}

.img_back {

}

.hat {
    position: fixed;
    top:0px;
    left:0px;
	display: flex;
	justify-content: right;
    align-items: center;
    background: #826F8B;
    height: 50px;
    width:  100%;
    cursor: default;
}

.login {
    position: absolute;
    right:0px;
    margin-right: 180px;
    color: black;
}

.round {
    position: absolute;
    margin-top: 65px;
    width: 120px;
    height: 120px;
    display: flex;
	justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #75647d;
    z-index: 2;
}


.Avatar {
    position: relative;
    border-radius: 100%;
    margin-top: 5px;
    z-index: 1;
}

.GAMP {
    height: 100px;
    width:  100%;
}

.or {
	display: flex;
    justify-content: center;
    align-items: center;
    background: #884ea3;
    height: 100px;
    width:  110px;
    margin:0 auto;
    cursor: default;
}

.default_url {
    cursor: default;
}

.text {
    color: #331c2a;
    text-shadow: 1px 1px 2px;
    cursor: default;
}

.Black {
	display: flex;
	justify-content: left;
    align-items: center;
    background-color: black;
    height: 150px;
    width:  35%;
    float: left;
    margin-top: 50px;
    margin-left: 15%;
}

.a_b {
    margin-left: 15px;
}

.White {
	display: flex;
	justify-content: right;
    align-items: center;
    background-color: white;
    height: 150px;
    width:  35%;
    float: right;
    margin-top: 50px;
    margin-right: 15%;
}

.a_w {
    margin-right: 15px;
}

.votes_black {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 25%;
    float: left;
    height: 100px;
    width: 300px;
    background-color: black;
}

.votes_white {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 25%;
    float: right;
    height: 100px;
    width: 300px;
    background-color: white;
}

.eyes {
    position: absolute;
    height: 300px;
    wight: 300px;
    right: 0px;
    bottom: 40px;
}

.eyes-text {
    position: absolute;
    right: 78px;
    bottom: 30px;
}

.y-1 {
    background-color: black;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	right: 95px;
	bottom: 200px;

}
.y-2{
    background-color: white;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 17px;
	bottom: 10px;
	border-radius: 100%;
}

.y-3 {
    background-color: black;
    width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	right: 155px;
	bottom: 200px;
}

.y-4{
    background-color: white;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 17px;
	bottom: 10px;
	border-radius: 100%;
}

.popup{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
}

.close {
    position: absolute;
    right: 20px;
    top: 5px;
    cursor:pointer;
     color: #aaa;
    font-size: 28px;
    font-wight: bold;
    margin-left: auto;
}

.popup-header {

    background-color: #111112;
    border-radius: 30px;
    color: white;
    display: flex;
    padding: 2px 16px;
    wight: 80% !important;
}


.popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    position: relative;
    background:#111112;
    height: 150px;
    width: 60%;
    border-radius: 30px;
    animation-name: animatetop;
    animation-duration: 0.8s
}


.popup_b{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
}

.close_b {
    position: absolute;
    right: 20px;
    top: 5px;
    cursor:pointer;
    color: black;
    font-size: 28px;
    font-wight: bold;
    margin-left: auto;
}

.popup-header_b {

    top: 30px;

    background-color: #e3e3ef;
    border-radius: 30px;
    color: black;
    display: flex;
    padding: 2px 16px;
    wight: 80% !important;
}


.popup-content_b {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    position: relative;
    background: #e3e3ef;
    height: 150px;
    width: 60%;
    border-radius: 30px;
    animation-name: animatetop;
    animation-duration: 0.8s
}

.point {cursor:pointer}

@keyframes animatetop {
    from {

        opacity: 0
    }
    to {

        opacity: 1
    }
}

