html *
{
   font-family: Montserrat !important;
}

.body {
    background-image: url("../IMG/b2.png");
    background-size: 100% 100%;
}

@media screen and (max-width: 1360px) {
.body{
     background-image: url("../IMG/background_small.png");

    background-size: 100% 100%;
}
}
.img_back {

}

.hat {
    position: fixed;
    top:0px;
    left:0px;
	display: flex;
	justify-content: right;
    align-items: center;
    background: #826F8B;
    height: 50px;
    width:  100%;
    cursor: default;
}

.about_site {
    position: absolute;
    left: 0;
    display: flex;
	justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    background: #75647D;
    cursor: pointer;
}

.login {
    position: absolute;
    right:0px;
    margin-right: 180px;
    color: black;
}

@media screen and (max-width: 340px) {
.login {
    margin-right: 125px !important;
}
}

@media screen and (max-width: 285px) {

.login{
    font-size: 10pt;
}

.about_site {
    font-size: 16pt;
    width: 40px;
}

}

@media screen and (max-width: 250px) {

.login{
    font-size: 8pt;
}

.about_site {
    font-size: 13pt;
    width: 30px;
}

}

.round {
    position: absolute;
    margin-top: 65px;
    width: 120px;
    height: 120px;
    display: flex;
	justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #75647d;
    z-index: 2;
}


.Avatar {
    position: relative;
    border-radius: 100%;
    margin-top: 5px;
    z-index: 1;
}

.GAMP {
    height: 100px;
    width:  100%;
}

.or {
	display: flex;
    justify-content: center;
    align-items: center;
    background: #884ea3;
    height: 100px;
    width:  110px;
    margin:0 auto;
    cursor: default;
}

@media screen and (max-width: 1360px) {

.or {
    position: absolute;
	display: flex;
    justify-content: center;
    align-items: center;
    background: #884ea3;
    height: 100px;
    width:  110px;
    margin:0 auto;
    cursor: default;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

}

.default_url {
    cursor: default;
}

.text {
    color: #331c2a;
    text-shadow: 1px 1px 2px;
    cursor: default;
}

.Black {
	display: flex;
	justify-content: left;
    align-items: center;
    background-color: black;
    height: 150px;
    width:  35%;
    float: left;
    margin-top: 50px;
    margin-left: 15%;
}

.a_b {
    margin-left: 15px;
}

.mama_black {
    display: flex;
	justify-content: right;
    align-items: center;
}

.White {
	display: flex;
	justify-content: right;
    align-items: center;
    background-color: white;
    height: 150px;
    width:  35%;
    float: right;
    margin-top: 50px;
    margin-right: 15%;
}

.a_w {
    margin-right: 15px;
}

@media screen and (max-height: 670px) {

.Black {
    height: 100px !important;
    top: 110px;
}

.a_b {
    margin-right: 15px;
}

.White {
    height: 100px !important;
    bottom: 110px;
}

}


@media screen and (max-width: 1360px) {

.Black {
    position: absolute;
	display: flex;
	justify-content: right;
    align-items: center;
    background-color: black;
    height: 150px;
    width:  50%;
    float: none;
    margin: auto;
    top: 110px;
    right: 100px;
}

.a_b {
    margin-right: 15px;
}

.White {
    position: absolute;
	display: flex;
	justify-content: left;
    align-items: center;
    background-color: white;
    height: 150px;
    width:  50%;
    float: none;
    bottom: 110px;
    left: 100px;
}

.a_w {
    margin-left: 15px;
}

}

@media screen and (max-width: 800px) {

.Black {
    position: absolute;
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: black;
    height: 150px;
    width:  50%;
    float: none;
    left: 50%;
    top: 110px;
    transform: translate(-50%, 0);
}

.a_b {
    margin-right: none;
}

.White {
    position: absolute;
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: white;
    height: 150px;
    width:  50%;
    float: none;
    bottom: 110px;
    left: 50%;
    transform: translate(-50%, 0);
}

.a_w {
    margin-left: none;
}

}

@media screen and (max-width: 620px) {

.Black {
    width:  80%;
    top: 120px;
}

.a_b {
    margin-right: none;
}

.White {
    width:  80%;
    bottom: 120px;
}

.a_w {
    margin-left: none;
}

}

.votes_black {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 25%;
    float: left;
    height: 100px;
    width: 300px;
    background-color: black;
}

.votes_white {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 25%;
    float: right;
    height: 100px;
    width: 300px;
    background-color: white;
}

@media screen and (max-width: 1360px) {
.votes_black {
    position: absolute;
    height: 100px;
    width: 250px;
    right: -71px;
    transform: translate(-50%, -50%);
    top: 44%;
}

.votes_white {
    position: absolute;
    height: 100px;
    width: 250px;
    left: 180px;
    transform: translate(-50%, -50%);
    top: 44%;
}
}

@media screen and (max-width: 800px) {
.votes_black {
    position: absolute;
    height: 100px;
    width: 200px;
    right: -71px;
    transform: translate(-50%, -50%);
    top: 44%;
    font-size: 8pt;
}

.votes_white {
    position: absolute;
    height: 100px;
    width: 200px;
    left: 130px;
    transform: translate(-50%, -50%);
    top: 44%;
    font-size: 8pt;

}
}

@media screen and (max-width: 620px) {
.votes_black {
    display: none;
}

.votes_white {
    display: none;
}
}


.eyes {
    position: absolute;
    height: 300px;
    wight: 300px;
    right: 0px;
    bottom: 40px;
}

.eyes-text {

    position: absolute;
    right: 78px;
    bottom: 30px;
}

.y-1 {
    background-color: black;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	right: 95px;
	bottom: 200px;

}
.y-2{
    background-color: white;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 17px;
	bottom: 10px;
	border-radius: 100%;
}

.y-3 {
    background-color: black;
    width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	right: 155px;
	bottom: 200px;
}

.y-4{
    background-color: white;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 17px;
	bottom: 10px;
	border-radius: 100%;
}

@media screen and (max-width: 800px) {
.eyes {
    display: none;
}

.eyes-text {
    text-align: center;
    position: absolute;
    width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 15px;
}

.right_hand{
    position: absolute;
    background-image: url("../IMG/right.png");
    background-size: 100% 100%;
    right: 0px;
    bottom: 0px;
    width: 70px;
    height: 70px;
}

.left_hand{
    position: absolute;
    background-image: url("../IMG/left.png");
    background-size: 100% 100%;
    left: 0px;
    bottom: 0px;
    width: 70px;
    height: 70px;
}

.y-1 {
    background-color: white;
	right: 95px;
	bottom: 1px !important;

}
.y-2{
    background-color: black;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 19px;
	bottom: 10px;
	border-radius: 100%;
}

.y-3 {
    background-color: white;
	left: 95px;
	bottom: 1px;
}

.y-4{
    background-color: black;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 19px;
	bottom: 10px;
	border-radius: 100%;
}

}

.popup{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
}

.close {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 20px;
    top: 5px;
    cursor:pointer;
     color: #aaa;
    font-size: 28px;
    font-wight: bold;
    margin-left: auto;
    display: flex;
	justify-content: center;
    align-items: center;
}

.popup-header {

    background-color: #111112;
    border-radius: 30px;
    color: white;
    display: flex;
    padding: 2px 16px;
    wight: 80% !important;
}


.popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    position: relative;
    background:#111112;
    height: 150px;
    width: 60%;
    border-radius: 30px;
    animation-name: animatetop;
    animation-duration: 0.8s
}


.popup_b{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
}

.close_b {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 20px;
    top: 5px;
    cursor:pointer;
    color: black;
    font-size: 28px;
    font-wight: bold;
    margin-left: auto;
    display: flex;
	justify-content: center;
    align-items: center;
}

.popup-header_b {

    top: 30px;

    background-color: #e3e3ef;
    border-radius: 30px;
    color: black;
    display: flex;
    padding: 2px 16px;
    wight: 80% !important;
}


.popup-content_b {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    position: relative;
    background: #E3E3EF;
    height: 150px;
    width: 60%;
    border-radius: 30px;
    animation-name: animatetop;
    animation-duration: 0.8s
}

.popup_p{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
}

.close_p {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 20px;
    top: 5px;
    cursor:pointer;
    color: black;
    font-size: 28px;
    font-wight: bold;
    margin-left: auto;
    display: flex;
	justify-content: center;
    align-items: center;
    right: -40px;
    background: #605168;
    border-radius: 50px;
}

.popup-header_p {

    top: 30px;

    background-color: #75647D;
    border-radius: 30px;
    color: black;
    display: flex;
    padding: 2px 16px;
    wight: 80% !important;
}


.popup-content_p {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    position: relative;
    background: #e3e3ef;
    height: 150px;
    width: 60%;
    border-radius: 30px;
    animation-name: animatetop;
    animation-duration: 0.8s;
    transform: translate(0, -50%);
}

@media screen and (max-width: 1070px) {

.close_p {
    margin-top: -50px;
}

}

@media screen and (max-width: 840px) {
.close {
right: -40px;
background: #111112;
border-radius: 50px;
}

.close_b {
background: #E3E3EF;
border-radius: 50px;
right: -40px;
}
}

@media screen and (max-width: 615px) {

.close_p {
    margin-top: -140px;
}

}

@media screen and (max-width: 400px) {
.popup-content {
    margin-top: 100px;
}

.popup-content_b {
    margin-top: 100px;
}

.close {
    top: -50px !important;
}

.close_b {
    top: -50px !important;
}

.close_p {
    margin-top: -200px;
}

}

@media screen and (max-width: 400px) {

.close_p {
    position: absolute;
    bottom: 50px !important;
}

}


.point {cursor:pointer}

@keyframes animatetop {
    from {

        opacity: 0
    }
    to {

        opacity: 1
    }
}

