


a {
    text-decoration: none;
}

.back_b {
    color: white;

}

.block_b {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 600px;
    width: 550px;
    border-radius: 50px;
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button_b {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  padding: 12px;
  border: none;
  border-radius: 15px;
  margin-left: 25%;
  width: 200px;
  height: 100px;
  cursor: pointer;
}

.button_b:active {
     background: #141414;
}
