body {
margin: 0;
}


a {
    text-decoration: none;
}

.back_b {
    color: white;

}

.block_b {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 600px;
    width: 550px;
    border-radius: 50px;
    text-align: center;
}

.button_b {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  padding: 12px;
  border: none;
  border-radius: 15px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  height: 100px;
  cursor: pointer;
}

@media screen and (max-width: 630px){

.block_b {
    width: 450px;
    height: 550px;
}
}

@media screen and (max-width: 530px){

.block_b {
    width: 395px;
    height: 500px;
}
}

@media screen and (max-width: 400px){

.block_b {
    width: 300px;
    height: 500px;
}
}

@media screen and (max-width: 330px){

.block_b {
    width: 220px !important;
    height: 450px;
}
}

.button_b:active {
     background: #141414;
}

#div1{
  display: none;
  margin: auto;
}

.video {
    position: absolute;
    width:100%;
    height: 320px;
    overflow: hidden !important;
    margin-top: -100px !important;
    margin: auto;
    object-fit: cover;
background-attachment: fixed;
	background-blend-mode: multiply;
	background-color: #5a5454;

}

.black_cat {

    width: 100%;
    height: 600px;
    background-image: url("../IMG/Black/cat.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
	background-blend-mode: multiply;
	background-color: #5a5454;
}


.none_div {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -15px;
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    cursor: pointer;
    color: white;
    font-size: 12pt;
    color: white;
}

html {
  height: 100%;
}

.div_piano {
width: 100%;
margin: auto;
background: grey;
height: 100px;
padding-top: 100px;
padding-bottom: 100px;
}

.piano {
  margin: 0 auto;
  position: relative;
  width: 497px;
  margin: auto;
  margin-top: -10px;

}

.white-key {

  width: 50px;
  height: 140px;
  background: linear-gradient(000, #757275,#bababa);
  border: 2px solid black;
  border-radius: 0 0 6px 6px;
  margin-left: -4px;
  outline: none;
  cursor: pointer;
}

.white-key.active {
  background: linear-gradient(000, #424042, #757275);
}

.black-key {
  position: absolute;
  width: 32px;
  height: 100px;
  background: linear-gradient(000, #2e2e2e, #121212);
  border: 3px solid black;
  border-radius: 0 0 4px 4px;
  outline: none;
  cursor: pointer;
}


.fred_img {
    position: absolute;
    right: 0px;
    margin-top: -100px;
    width: 120px;
    height: 110px;
}

.black-key.active {
  background: linear-gradient(000, #131313, #121212);
}

.Db4-key {

  left: 29px;
}

.Eb4-key {
  left: 80px;
}

.Gb4-key {
  left: 180px;
}

.Ab4-key {
  left: 230px;
}

.Bb4-key {
  left: 280px;
}

.Db5-key {
  left: 380px;
}

.Eb5-key {
  left: 430px;
}

@media screen and (max-width: 520px){

.piano {
    width: 400px;
}

.fred_img {
    width: 110px;
    height: 100px;
}

.white-key {
  width: 40px;
  height: 130px;
}

.black-key {
  width: 25px;
  height: 90px;
}

.Db4-key {

  left: 24px;
}

.Eb4-key {
  left: 65px;
}

.Gb4-key {
  left: 145px;
}

.Ab4-key {
  left: 185px;
}

.Bb4-key {
  left: 225px;
}

.Db5-key {
  left: 305px;
}

.Eb5-key {
  left: 345px;
}

}

@media screen and (max-width: 430px){

.piano {
    width: 297px;
}

.white-key {
  width: 30px;
  height: 120px;
}

.black-key {
  width: 20px;
  height: 80px;
}

.Db4-key {

  left: 16px;
}

.Eb4-key {
  left: 46px;
}

.Gb4-key {
  left: 105px;
}

.Ab4-key {
  left: 136px;
}

.Bb4-key {
  left: 166px;
}

.Db5-key {
  left: 226px;
}

.Eb5-key {
  left: 256px;
}

}

@media screen and (max-width: 330px){

.piano {
    width: 220px;
}

.white-key {
  width: 22px;
  height: 110px;
}

.black-key {
  width: 12px;
  height: 70px;
}

.Db4-key {

  left: 9px;
}

.Eb4-key {
  left: 31px;
}

.Gb4-key {
  left: 75px;
}

.Ab4-key {
  left: 97px;
}

.Bb4-key {
  left: 119px;
}

.Db5-key {
  left: 163px;
}

.Eb5-key {
  left: 184px;
}

}

.heart {
    float: left;
    background-image: url("../IMG/Black/heart.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 45%;
    height: 530px;
    margin-top: 20px;
}

.heart_home {
    float: left;
    background-image: url("../IMG/Black/heart_home.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 55%;
    height: 550px;
}

.rose {
    float: left;
    background-image: url("../IMG/Black/rose.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 25%;
    height: 700px;
}

.swan {
    float: left;
    background-image: url("../IMG/Black/swan.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 75%;
    height: 700px;
}

.horse {
    float: left;
    background-image: url("../IMG/Black/horse1.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 900px;
	background-blend-mode: multiply;
	background-color: #5a5454;

}

.video_waves{
    width:100%;
    height: 320px;
    object-fit: cover;
    margin-left: -5px;
}


