


.bodyyy_white {
    background-image: url("../IMG/black.png");
    background-size: 100% 100%;
}

a {
    text-decoration: none;
}

.back_w {
    color: black;
}

.block_w {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 600px;
    width: 550px;
    border-radius: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (max-width: 300px){

.block_w {
    width: 250px !important;
    height: 500px;
}

}

.button_w {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 15px;
  width: 200px;
  height: 100px;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.button_w:active {
     background: #ebebeb;
}

#div1{
  display: none;
  margin: auto;

}

.none_div_w {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -15px;
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    cursor: pointer;
    color: white;
    font-size: 12pt;

}

.wolf {

    margin-top:50px;
    width: 100%;
    height: 600px;
    background-image: url("../IMG/White/ice.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
	background-color: #929292;

}

.cloud {
    float: left;
    width: 30%;
    height: 600px;
    background-image: url("../IMG/White/cloud.jpg");
    background-size: 100% 100%;
}

.pool {
    float: left;
    width: 70%;
    height: 600px;
    background-image: url("../IMG/White/pool.jpg");
    background-size: 100% 100%;
}

.pigeon {
    float: left;
    width: 65%;
    height: 500px;
    background-image: url("../IMG/White/pigeon.jpg");
    background-size: 100% 100%;
}

.mramor {
    float: left;
    width: 35%;
    height: 500px;
    background-image: url("../IMG/White/mramor.jpg");
    background-size: 100% 100%;
}

.roul {
    width:100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: -5px;
}

@media screen and (max-width: 900px){


.cloud {
    height: 400px;
}

.pool {
    height: 400px;
}

.pigeon {
    height: 300px;
    width: 60%;
}

.mramor {
    height: 300px;
    width: 40%;
}

}

@media screen and (max-width: 630px){

.block_w {
    width: 450px;
    height: 550px;
}

.cloud {
    height: 400px;
}

.pool {
    height: 400px;
}

.pigeon {
    height: 250px;
    width: 60%;
}


.mramor {
    height: 250px;
    width: 40%;
}

}

@media screen and (max-width: 530px){

.block_w {
    width: 395px;
    height: 500px;
}


.cloud {
    height: 350px;
}

.pool {
    height: 350px;
}

.pigeon {
    height: 200px;
    width: 60%;
}


.mramor {
    height: 200px;
    width: 40%;
}

}

@media screen and (max-width: 530px){

.cloud {
    height: 350px;
    width: 100%;
    float: none;
}

.pool {
    height: 350px;
    width: 100%;
    float: none;
}

.pigeon {
    height: 300px;
    width: 100%;
    float: none;
}


.mramor {
    height: 400px;
    width: 100%;
    float: none;
}

}

@media screen and (max-width: 400px){

.block_w {
    width: 300px;
    height: 500px;
}

.cloud {
    height: 350px;
    width: 100%;
    float: none;
}

.pool {
    height: 300px;
    width: 100%;
    float: none;
}

.pigeon {
    height: 250px;
    width: 100%;
    float: none;
}


.mramor {
    height: 300px;
    width: 100%;
    float: none;
}

}

@media screen and (max-width: 278px){

.block_w {
    width: 220px !important;
    height: 450px;
}

.cloud {
    height: 320px;
    width: 100%;
    float: none;
}

.pool {
    height: 270px;
    width: 100%;
    float: none;
}

.pigeon {
    height: 220px;
    width: 100%;
    float: none;
}


.mramor {
    height: 220px;
    width: 100%;
    float: none;
}

}

.paint {
position: absolute
width: 100%;
height: 500px;
border: 20px solid black;
}


.inputs {
position: absolute;

}

#paint-container {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    border-radius: 4px;
    background: yellow;
    cursor: pointer;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.paint-cell {
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: black !important;
    box-sizing: border-box;

}

.paint-cell__circle {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    pointer-events: none;
    border-radius: 100%;

}

.number{
position: absolute;
top: 10px;
margin-left: 57px;
}

.reset {
    position: absolute;
    margin-left: 220px;
    margin-top: 11px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 0 10px 0 10px;
    border: 2px dotted white;
}

.clear {
    outline: none; /* Для синий ободки */
    border: 0;
    background: black;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    top: -25px;
    left: 50%;
    transform: translate(-50%, 0);
}