{% extends "layout/base.html" %}
{% load i18n %}
{% load static %}
{% block home %}

<body bgcolor="black">
<div>
<font face="Montserrat">


    <div style="width: 200px">
        <a href="{% url 'home' %}" class="back_b"><h1 style="color: white"> <span>⮪</span>{% trans "Back" %}</h1></a>
    </div>

    <div style="position: absolute; right: 5px; top: 5px;">
        <h1 style="color: white" id="myBtn" class="point">???</h1>
    </div>

    <div class="block_b">
    <div>
        <h1 align="center" style="color: black">{% trans "Choose black for 1$ dollar" %}</h1><br>

    <form method="post">
    {% csrf_token %}
    <a href="{{ url }}">
        <button  class="button_b" type="button" name="choose" value="black" onclick="assign()">
            <h1 style="color: white">
                <strong>{% trans "Choose" %}</strong>
            </h1>
        </button>
    </a>
    </form>

    </div>
    </div>

    <button style="width: 100%;" type="button" onmousedown="viewDiv()" class="none_div"><h1><b>{% trans "Enjoy the black" %}</b></h1></button>

    <div id="div1">

        <div class="black_cat"></div>

        <div></div>

        <div class="div_piano">
        <video src="{% static 'IMG/Black/smoke.mp4' %}" class="video" autoplay loop muted>

        </video>
            <audio src="{% static 'CSS/Bohemian.mp3' %}"></audio>
                <img onclick="soundClickGod()" class="fred_img" src="{% static 'IMG/fred.png' %}">
       <div class="piano">

        <button class="white-key C4-key"></button>
      <button class="black-key Db4-key"></button>
      <button class="white-key D4-key"></button>
      <button class="black-key Eb4-key"></button>
      <button class="white-key E4-key"></button>
      <button class="white-key F4-key"></button>
      <button class="black-key Gb4-key"></button>
      <button class="white-key G4-key"></button>
      <button class="black-key Ab4-key"></button>
      <button class="white-key A4-key"></button>
      <button class="black-key Bb4-key"></button>
      <button class="white-key B4-key"></button>
      <button class="white-key C5-key"></button>
      <button class="black-key Db5-key"></button>
      <button class="white-key D5-key"></button>
      <button class="black-key Eb5-key"></button>
      <button class="white-key E5-key"></button>
        </div>
        </div>

        <div class="heart"></div>
        <div class="heart_home"></div>
        <div class="rose"></div>
        <div class="swan"></div>
        <div class="horse"></div>
         <div><video src="{% static 'IMG/Black/waves.mp4' %}" class="video_waves" autoplay loop muted></video></div>

    </div>



    <div id="mypopup" class="popup" align="center">
        <div class="popup-content">
            <div class="popup-header">
                 <h2>{% trans "Here you will see the votes for the color of all users, after you vote yourself" %}</h2>
                <span class="close"><big><big><big>&times;</big></big></big></span>
            </div>

        </div>
    </div>
</font>
</div>
</body>
<script src="{% static 'CSS/script_piano.js' %}"></script>


    <script>

    let popup1 = document.getElementById('mypopup'),
    popupToggle1 = document.getElementById('myBtn'),
    popupClose1 = document.querySelector('.close');

    popupToggle1.onclick = function() {
     popup1.style.display="block";
    };

    popupClose1.onclick = function() {
     popup1.style.display="none";
    }

    </script>

<script>
    function soundClickGod() {
  var audio = new Audio(); // Создаём новый элемент Audio
  audio.src = 'http://127.0.0.1:8000/static/CSS/Bohemian.mp3' ; // Указываем путь к звуку "клика"
  audio.autoplay = true; // Автоматически запускаем
}
</script>

{% endblock %}


