{% extends "layout/base.html" %}
{% load i18n %}
{% load static %}

{% block home %}

<body bgcolor="black">

<font face="Montserrat">
<div class="">

    <div>
        <a href="{% url 'home' %}" class="back_b"><h1 style="color: white"> <span>⮪</span>{% trans "Back" %}</h1></a>
    </div>

    <div class="block_b">
    <div>
        <h1 style="color: black">{% trans "Choose black" %}</h1><br>

    <form method="post">
    {% csrf_token %}
    <a href="{{ url }}">
        <button  class="button_b" name="choose" value="black" onclick="assign()">
            <h1 style="color: white">
                <strong>{% trans "Choose" %}</strong>
            </h1>
        </button>
    </a>
    </form>

    </div>
    </div>
    <input type="button" onmousedown="viewDiv()" class="none_div" value="{% trans "Enjoy the black" %}">

    <div id="div1">

        <div class="black_cat"></div>

        <div class="div_piano">
        <video src="{% static 'IMG/Black/smoke.mp4' %}" class="video" autoplay loop muted></video>

       <div class="piano">

        <button class="white-key C4-key"></button>
      <button class="black-key Db4-key"></button>
      <button class="white-key D4-key"></button>
      <button class="black-key Eb4-key"></button>
      <button class="white-key E4-key"></button>
      <button class="white-key F4-key"></button>
      <button class="black-key Gb4-key"></button>
      <button class="white-key G4-key"></button>
      <button class="black-key Ab4-key"></button>
      <button class="white-key A4-key"></button>
      <button class="black-key Bb4-key"></button>
      <button class="white-key B4-key"></button>
      <button class="white-key C5-key"></button>
      <button class="black-key Db5-key"></button>
      <button class="white-key D5-key"></button>
      <button class="black-key Eb5-key"></button>
      <button class="white-key E5-key"></button>
        </div>
        </div>

        <div class="heart"></div>
        <div class="heart_home"></div>
        <div class="rose"></div>
        <div class="swan"></div>
        <div class="horse"></div>
         <div><video src="{% static 'IMG/Black/waves.mp4' %}" class="video_waves" autoplay loop muted></video></div>

    </div>

</div>


</font>
</body>

<script>
    function soundClick() {
  var audio = new Audio(); // Создаём новый элемент Audio
  audio.src = 'http://127.0.0.1:8000/static/CSS/out.mp3' ; // Указываем путь к звуку "клика"
  audio.autoplay = true; // Автоматически запускаем
}
</script>

{% endblock %}


