{% extends "layout/base.html" %}
{% load i18n %}

{% block home %}

<body bgcolor="black">
<div>
<font face="Montserrat">


    <div>
        <a href="{% url 'home' %}" class="back_b"><h1 style="color: white"> <span>⮪</span>{% trans "Back" %}</h1></a>
    </div>

    <div class="block_b">
    <div>
        <h1 style="color: black">{% trans "Choose black for 1$ dollar" %}</h1><br>





    <form method="post">
    {% csrf_token %}
    <a href="{{ url }}">
        <button  class="button_b" name="choose" value="black" type="button" onclick="assign()">
            <h1 style="color: white">
                <strong>{% trans "Choose" %}</strong>
            </h1>
        </button>
    </a>
    </form>

    </div>
    </div>

<script type="text/javascript">
   function assign(){
       document.location.assign("{{ url }}");
   }
</script>

</font>
</div>
</body>

{% endblock %}


