{% extends "layout/all_comment.html" %}

{% load static %}
{% load comments %}
{% load comments_xtd %}
{% load account %}
{% user_display user %}
{% load i18n %}
{% load l10n %}
{% load md2 %}

{% block home %}

{% if somebody.count_purple %}

<style>

a {
    color: #3c3541;
    font-weight: 900;
}

body {
    background: #884EA3;
    color: #331C41;
}

.hr {
    background: #331C41;
}


p {font-weight: 600}

.s {color: #331C41}

<!--.div_button {-->
<!--    position: absolute;-->
<!--    right:0px;-->
<!--     outline:0 none !important;-->
<!--}-->

.none_but {
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
  cursor: pointer;
}

.comments_on_comment {
   width: 400px !important;
   border-left:3px solid Indigo;
   border-right:3px solid Indigo;
   padding-left:10px;
   border-radius: 5px;
   padding: 1px;
   margin: 10px;

}

.div_form_post_comment {
    background-color: #723c8b;
    color: #331C41;
    font-weight: 600;
}

textarea {
    background-color: #d2c6d8;
    color: #331C41;
}

input[name="post"] {
    background-color: #d2c6d8;
    color: #331C41;
    transition: 1s !important;
    height: 50px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 12pt;
    font-weight: 900;
}

@media screen and (min-width: 1360px) {
.comments_on_comment {
   width: 700px !important;
   padding-left:10px;

   border-radius: 5px;
   padding: 1px;
   margin: 10px;
}

}

@media screen and (max-width: 540px) {
.comments_on_comment {
   width: 240px !important;
   padding-left:10px;
   border-radius: 5px;
   padding: 1px;
   margin: 10px;
}

}


@media screen and (max-width: 370px) {
.comments_on_comment {
   width: 190px !important;
   padding-left:10px;
   border-radius: 5px;
   padding: 1px;
   margin: 10px;
}

}

@media screen and (max-width: 330px) {
.comments_on_comment {
   width: 200px !important;
   margin-left: -80px;
}

}

.backProfileUrl {
    color: black;
}

.media-list {
    width: 800px;
    max-width: 100%;
    margin-left: 0;
}

</style>

{% else %}
<style>

a {
    color: #676767;
    font-weight: 900;
}

body.darkkk a {
    color: #9e9e9e;
}

body {
    background: #f2f2f2;
    color: black;
}

body.darkkk .hr {
    height: 3px;
    background: white;
    border: none;
}

body.darkkk .div_form_post_comment {
    transition: 1s !important;
    display: flex;
	justify-content: center;
    align-items: center;
    width: 300px;
    height: 230px;
    background-color: white;
    border-radius: 10px;
    color: black;
}

body.darkkk .form-control { /* texterea */
    transition: 1s !important;
    height: 100px;
    width: 280px;
    border-radius: 6px;
    background-color: #090909;
    color: white;
}

body.darkkk input[name="post"] {
    transition: 1s !important;
    height: 50px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 12pt;
    font-weight: 900;
    background-color: #090909;
    color: white;
}

body.darkkk .div_comment_tree{
    transition: 1s !important;
    height: 100%;
    width: 60%;
    display: flex;
    margin-left: 20% !important;
    background-color: #222222;

    border-radius: 20px;
    margin: 10px;
    word-break: break-all; /* Перенос слов */
}

body.darkkk .comments_on_comment {
   width: 400px !important;
   border-left:3px solid white;
   border-right:3px solid white;
   padding-left:10px;
   background: #222222 !important;
   border-radius: 5px;
   padding: 1px;
   margin: 10px;

}

@media screen and (min-width: 1360px) {
body.darkkk .comments_on_comment {
    transition: 1s !important;
   width: 700px !important;
   border-left:3px solid white;
   border-right:3px solid white;
   padding-left:10px;
   background:#222222 !important;
   border-radius: 5px;
   padding: 1px;
   margin: 10px;
}

}

@media screen and (max-width: 540px) {
body.darkkk .comments_on_comment {
     transition: 1s !important;
   width: 240px !important;
   border-left:3px solid white;
   border-right:3px solid white;
   padding-left:10px;
   background:#222222 !important;
   border-radius: 5px;
   padding: 1px;
   margin: 10px;
}

}

@media screen and (max-width: 370px) {
body.darkkk .comments_on_comment {
     transition: 1s !important;
   width: 190px !important;
   border-left:3px solid white;
   border-right:3px solid white;
   padding-left:10px;
   background: #222222f !important;
   border-radius: 5px;
   padding: 1px;
   margin: 10px;
}

}

@media screen and (max-width: 330px) {
body.darkkk .comments_on_comment {
   width: 200px !important;
   margin-left: -80px;
}
}

@media screen and (max-width: 980px) {

body.darkkk .div_comment_tree{
    transition: 1s !important;
    height: 100%;
    display: flex;
    margin-left: 0% !important;
    width: 100%;
    border-radius: 20px;
    background:#222222;
    margin: 10px;
    word-break: break-all;
}

}


body.darkkk {
     transition: 1s !important;
     background: #0b0b0b;
     color: white;
}

body.darkkk .backProfileUrl{
     transition: 1s;
     color: white;
}

<!--.div_button {-->
<!--    position: absolute;-->
<!--    right:0px;-->
<!--     outline:0 none !important;-->
<!--}-->

.none_but {
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
  cursor: pointer;
}

.backProfileUrl {
    color: black;
}

.media-list {
    width: 800px;
    max-width: 100%;
    margin-left: 0;
}

.custom-control {
    display: none;
}

</style>
{% endif %}

{% if somebody.count_black or somebody.count_white %}
<div class="div_button" align="right">
        <button  id="toggleThemeBtn" class="none_but" class="loud-link-click" type="button">
            <audio src="{% static 'CSS/out.mp3' %}"></audio>
            <img onclick="soundClick()" src="{% static 'IMG/voting_blahite_comment.png' %}" alt=""  width="50" class="img_button">
        </button>
</div>
{% elif somebody.count_purple %}
<div class="div_button" align="right" style="margin-top: 50px;">

</div>
{% else %}
<div class="div_button" align="right">
        <button  id="toggleThemeBtn" class="none_but" class="loud-link-click" type="button">
            <audio src="{% static 'CSS/out.mp3' %}"></audio>
            <img onclick="soundClick()" src="{% static 'IMG/voting_blahite_comment.png' %}" alt=""  width="50" class="img_button">
        </button>
</div>
{% endif %}
<div style="width: 120px; position: absolute; left: 8px; top: -10px;" class="back">
        <a href="{% url 'home' %}" class="backProfileUrl"><h1 class="s"> <span class="b_c" >⮪</span>{% trans "Back" %}</h1></a>
</div>

<h3 align="center">The site uses Coordinated Universal Time (UTC)</h3>

{% if somebody.count_black or somebody.count_white or somebody.count_purple %}
    <h3 align="center"><big>{% trans "You will not be able to edit or delete your comment. Think before you write" %}</big></h3>
<div class="container-fluid mt-4 comment-form">
    {% render_comment_form for comment %}
</div>
{% else %}
    <h3 align="center"><big>{% trans "Since you didn't vote, you will be shown the first 50 comments." %}</big></h3>
{% endif %}



{% get_comment_count for comment as comment_count %}
{% if comment_count %}
    <hr class="hr">
    {{ comment_count }}

    <div class="">
        {% render_xtdcomment_tree for comment allow_flagging allow_feedback show_feedback %}
    </div>
{% endif %}


<!-- ------------------------------------------------------------------------------------------- -->

{% block extra-js %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script>
 window.comments_props = {% get_commentbox_props for comment %};
 window.comments_props_override = {
     allow_comments: {%if comment.allow_comments%}true{%else%}false{%endif%},
     allow_feedback: true,
     show_feedback: true,
     allow_flagging: true,
     polling_interval: 5000000000000  // In milliseconds.
 };
</script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script
  type="text/javascript"
  src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'django_comments_xtd/js/vendor~plugin-2.9.5.js' %}"></script>
<script src="{% static 'django_comments_xtd/js/plugin-2.9.5.js' %}"></script>
<script>
$(function() {
  $('[data-toggle="tooltip"]').tooltip({html: true});
});
</script>
{% endblock %}

<script>
    if(!localStorage.theme) localStorage.theme - "lighttt"
    document.body.className = localStorage.theme

    toggleThemeBtn.onclick = () => {
        document.body.classList.toggle("darkkk")
        localStorage.theme = document.body.className || "lighttt"
    }

    toggleThemePurple.onclick = () => {
        document.body.classList.toggle("purple")
        localStorage.theme = document.body.className || "light"
    }

    function soundClick() {
  var audio = new Audio(); // Создаём новый элемент Audio
  audio.src = 'http://127.0.0.1:8000/static/CSS/out.mp3' ; // Указываем путь к звуку "клика"
  audio.autoplay = true; // Автоматически запускаем
}
</script>
<style>
  label[for="id_followup"] {display: none;}
  .custom-checkbox {display: none;}
</style>

{% endblock %}

