{% extends 'layout/base.html' %}
{% load i18n %}

{% block home %}

<body bgcolor="#884ea3">
<div>
<font face="Montserrat">

    <div>
        <a href="{% url 'home' %}" class="back_p" style="color: #331c2a"><h1> <span class="b_c">⮪</span>{% trans "Back" %}</h1></a>
    </div>

    <div class="block_p">
    <div class="sss">
        <h1 style="color: #331c2a" align="center">{% trans "Wow, you're an original" %}</h1><br>
        <h1 style="color: #331c2a">{% trans "Choose purple for 1$ dollar" %}</h1><br>
        <form method="post">
        {% csrf_token %}
            <button class="button_p" name="choose" value="purple" type="button">
            <h1 class="text_button">
                <b>{% trans "Choose" %}</b>
            </h1>
            </button>

        </form>
    </div>
    </div>

    <div class="result">
        <h1 style="color: #331c2a" align="center">{{ value.count_purple }} ({{ percent_purple}})%</h1>
    </div>
</font>
</div>
</body>

{% endblock %}