{% extends 'layout/base.html' %}
{% load i18n %}
{% load static %}
{% block head %}<link rel="shortcut icon" type="image/png" href="{% static 'IMG/zico/white_ico.ico' %}"/>{% endblock %}
{% block home %}

<body bgcolor="white">
<div>
<font face="Montserrat">

    <div style="width: 200px">
        <a href="{% url 'home' %}" class="back_w"><h1> <span class="b_c">⮪</span> {% trans "Back" %}</h1></a>
    </div>

     <div style="position: absolute; right: 5px; top: 5px;">
        <h1 style="color: black" id="myBtn_b" class="point">???</h1>
    </div>

    <div class="block_w">
    <div class="sss">
        <h1 align="center" style="color: white">{% trans "Choose white" %}</h1><br>

    <form method="POST">
    {% csrf_token %}
        <button  class="button_w" name="choose" value="white">
            <h1>
            <b>{% trans "Choose" %}</b>
            </h1>
        </button>

    </form>

    </div>
    </div>
    <button style="width: 100%;" type="button" onmousedown="viewDiv()" class="none_div_p"><h1><b>{% trans "Enjoy the white" %}</b></h1></button>
    <div id="div1">
          <div class="wolf"></div>

        <div class="paint">
            <div id="paint-container"></div>
            <button id="clear" class="clear"><h2 style="color: white; margin-top: -0px;">⭮</h2></button>
        </div>
          <div class="cloud"></div>
          <div class="pool"></div>
          <div class="pigeon"></div>
          <div class="mramor"></div>
          <div><video src="{% static 'IMG/White/roul.mp4' %}" class="roul" autoplay loop muted></video></div>
    </div>

<div id="mypopup_b" class="popup_b" align="center">
        <div class="popup-content_b">
            <div class="popup-header_b">
                 <h2>{% trans "Here you will see the votes for the color of all users, after you vote yourself" %}</h2>
                <span class="close_b"><big><big><big>&times;</big></big></big></span>
            </div>

        </div>
    </div>

</font>
</div>
</body>
    <script>
    let popup = document.getElementById('mypopup_b'),
    popupToggle = document.getElementById('myBtn_b'),
    popupClose = document.querySelector('.close_b');

    popupToggle.onclick = function() {
     popup.style.display="block";
    };

    popupClose.onclick = function() {
     popup.style.display="none";
    }

    function viewDiv(){
        document.getElementById("div1").style.display = "block";
    };
    </script>

<script src="{% static 'CSS/paint.js' %}"></script>
{% endblock %}
