{% extends "avatar/base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% render_avatar avatar 100 %}

{% block content %}



<div style="margin-top: 22px; height: 0px; width: 120px;">
    <a href="{% url 'avatar_change' %}" class="back_b" style="text-decoration: none;"><h1 style="color: black"> <span>⮪</span>{% trans "Back" %}</h1></a>
</div>

<div class="div_del">
    <div class="delete">
    <p>{% trans "Please select the avatars that you would like to delete." %}</p>
    {% if not avatars %}
        {% url 'avatar_change' as avatar_change_url %}
        <p>{% blocktrans %}You have no avatars to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{% url 'avatar_delete' %}">
            <ul>
                {{ delete_avatar_form.as_ul }}
            </ul>
            <p style="margin-right: 30px;">{% csrf_token %}<input class="choice_delete" type="submit" value="{% trans "Delete These" %}" /></p>
        </form>

     <style>

        ul{
        font-size:0;
        text-align: center;
        padding-inline-start: 0px;

        }
        ul li{
            display: inline-block;
            font-size:14px;
            display:inline-block;
            margin-right: 10px;
            padding:0;
            font-size: 12pt;
        }
     </style>
    {% endif %}
{% endblock %}
