{% extends "layout/base.html" %}

{% block home %}
<style >
    .rer{

        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<body bgcolor="white">

<div>
    <a href="{% url 'home' %}" style="color: black"><h1> <span style="color: black">⮪</span> Back</h1></a>
</div>

<div class="rer">
    <h1 style="color: black">Sorry, you can only vote 1 time</h1>
</div>
</body>

{% endblock %}