{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="{% static 'CSS/battle.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/black.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/white.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/purple.css' %}">
<!--    <link rel="stylesheet" href="{% static 'CSS/profile-dark.css' %}">-->
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/all_comments.css' %}">

    <title>Color battle</title>
</head>


<body>
    {% block content %}

    {% endblock %}
</body>

</html>