{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}
{% load static %}

{% block title %}{% trans "Confirm your opinion" %}{% endblock %}

{% block header %}



<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}

{% block content %}

<style>
  body{
  background: #5f5f5f;
  }

  a {
    color: #331c2a;
  }

  .input_like {
    border: 0;
    background: transparent;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
  }

  .del_like {
    border: 0;
    background: transparent;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
  }
</style>

<div class="mb-4">
  <h3 class="text-center" align="center">
    {% if already_liked_it %}
    {% trans "You liked this comment, do you want to change it?" %}
    {% else %}
    {% trans "Do you like this comment?" %}
    {% endif %}
  </h3>
</div>
<p class="lead text-center" align="center"><b>{% trans "Please, confirm your opinion about the comment." %}</b></p>
<div class="row">
  <div class="offset-lg-1 col-lg-10">
    <div class="card mb-4">
      <div class="card-body">
        <div class="media pb-2">
      </div>
    </div>

    <div class="visible-lg-block visible-md-block">
    </div>
  </div>
</div>
<div class="row">
  <div class="offset-lg-1 col-lg-10">
    {% if already_liked_it %}
    <div class="alert alert-warning text-center">
      <h3 align="center">{% trans 'Click on the "withdraw" button if you want to withdraw your positive opinion on this comment.' %}</h3>
    </div>
    {% endif %}
    <div class="well well-lg">
      <form action="." method="post" class="form-horizontal">{% csrf_token %}
        <input type="hidden" name="next" value="{{ comment.get_absolute_url }}">
        <div class="form-group">
          <div class="text-center">
            {% if already_liked_it %}
            <button class="del_like" type="submit" name="submit" value="Withdraw"><img src="{% static 'IMG/del_лайк.png' %}" width="500px" height="500px"></button>
            {% else %}
            <button type="submit" name="submit" class="input_like" value="I like it"><img src="{% static 'IMG/лайк.png' %}" width="500px" height="500px"></button>
            {% endif %}
            <h2><p align="center"><a class="btn btn-secondary" href="{{ comment.get_absolute_url }}">{% trans "cancel" %}</a></p></h2>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
