{% extends "layout/all_comment.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% load md2 %}
{% load comments %}
{% load comments_xtd %}
{% load avatar_tags %}

{% block title %}{% trans "Comment reply" %}{% endblock %}

{% block home %}

<div class="back">
    <a href="{% url 'comment' %}" class="back_b"><h1 style="color: white; margin-top: 30px; position: absolute;"> <span>⮪</span>{% trans "Back" %}</h1></a>
</div>

<div class="container">
  <div class="mb-4">
    <h3 class="text-center" style="text-align: center; vertical-align: middle; position: relative;top: 13px; ">{% trans "Leave a response to the user's comment" %}</h3>
  </div>
  <div class="div_comment_tree_reply">
    <div class="offset-md-1 col-md-10">
      <div class="media">

        <div class="media-body">
          <div class="comment pb-3">
            <h6 class="mb-1 small">
              {% if comment.user_url %}
              <a href="{{ comment.user_url }}" target="_new">{% endif %}
                <div class="avatar_comment" style="height: 100%; width: 100%;" >
                 <img src="{% avatar_url user %}" width="80" height="80" align="center">
                    {{ comment.submit_date|date:"N j, Y, f" }}
                    <span class="span_username">{{ comment.user_name }}</span>{% if comment.user_url %}{% endif %}
                </div></a>

            </h6>

          </div>
        </div>
      </div>
      <div class="card mt-4 mb-5">
        <div class="post-comment-div">
          {% include "comments/form.html" %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom_div"></div>

<style>
.back {
    position: absolute;
    width: 100%;
    height: 100px;
    background: black;
    margin-top: -10px !important;
    top:0px;
    left:0px;
}

.mb-4 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    height: 50px;
    background: #c386c2;
    border-radius: 30px;
    margin-top: 130px;
    color: #462c45;
}

.mb-1 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100px;
    border-radius: 30px;
    border: 5px solid MediumOrchid;
}

.bottom_div {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100px;
    background: black;
}

.media {
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (max-width: 545px){
.mb-4 {
    height: 70px;
}
}

@media screen and (max-width: 283px){
.mb-4 {
    height: 70px;
    width: 90%;
}
}

@media screen and (max-width: 415px){
.media {
    width: 300px;
}
}

@media screen and (max-width: 315px){
.media {
    width: 240px;
}

.span_username {
    position: relative;
    left: 40%;
    transform: translate(-40%, 0);
    bottom: 20px;
}
}
</style>

<script>
    if(!localStorage.theme) localStorage.theme - "lightt"
    document.body.className = localStorage.theme

    toggleThemeBtnReply.onclick = () => {
        document.body.classList.toggle("darkk")
        localStorage.theme = document.body.className || "lightt"
    }

    toggleThemePurple.onclick = () => {
        document.body.classList.toggle("purple")
        localStorage.theme = document.body.className || "light"
    }

    function soundClick() {
  var audio = new Audio(); // Создаём новый элемент Audio
  audio.src = 'http://127.0.0.1:8000/static/CSS/out.mp3' ; // Указываем путь к звуку "клика"
  audio.autoplay = true; // Автоматически запускаем
}
</script>

<script>
    const relativeFollowCursor = (selector, callback) => {
      const element = document.querySelector(selector);
      const degreeInRadian = 180 / Math.PI;

      document.addEventListener('mousemove', (event) => {
        const rect = element.getBoundingClientRect();
        const centerX = rect.left + rect.width / 2;
        const centerY = rect.top + rect.height / 2;
        const angle = Math.atan2(event.clientY - centerY, event.clientX - centerX);

        callback(element, {
          radian: angle,
          degree: degreeInRadian * angle
        });
      });
    };

    document.addEventListener('DOMContentLoaded', () => {
      relativeFollowCursor('.y-1', (eye, { degree }) => eye.style.setProperty('transform', `rotate(${degree}deg)`));
      relativeFollowCursor('.y-3', (eye, { degree }) => eye.style.setProperty('transform', `rotate(${degree}deg)`));
      relativeFollowCursor('.y-5', (eye, { degree }) => eye.style.setProperty('transform', `rotate(${degree}deg)`));
    });
    </script>
{% endblock %}
