{% extends "layout/base.html" %}

{% block home %}
<style>
    .rer{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

</style>

<body bgcolor="black">

<div>
    <a href="{% url 'home' %}" style="color: white"><h1> <span style="color: white">⮪</span> Back</h1></a>
</div>

<div class="rer">
    <h1 style="color: white" align="center" align="center">Sorry, you can only vote 1 time</h1>
    <a href="{% url 'black_results' %}" class="url_results">
        <big><h1 align="center" style="color: white">Results</h1></big>
    </a>
</div>



</body>

{% endblock %}