{% extends "layout/base.html" %}

{% block home %}
<style>
    .rer{

        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<body bgcolor="black">

<div>
    <a href="{% url 'home' %}" style="color: white"><h1> <span style="color: white">⮪</span> Back</h1></a>
</div>


    <h1 style="color: white">Sorry, you can only vote 1 time</h1>



</body>

{% endblock %}