{% extends "layout/base.html" %}
{% load i18n %}
{% block home %}
<style >
    .rer{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

</style>

<body bgcolor="white">

<div>
    <a href="{% url 'home' %}" style="color: black"><h1> <span style="color: black">⮪</span> {% trans "Back" %}</h1></a>
</div>

<div class="rer">
    <h1 style="color: black" align="center">{% trans "Sorry, you can only vote 1 time" %}</h1>
    <a href="{% url 'white_results' %}" class="url_results ">
        <big><h1 align="center" style="color: black">{% trans "Results" %}</h1></big>
    </a>
</div>


</body>

{% endblock %}